body { 
    background: lightblue; 
  }
h1{
    color:black;
    font-size: 30px;
}
.card{
    position: absolute;
    top:80px;
    text-align:center;
    width:300px;
    height:440px;
    background-color: rosybrown;
    border-radius: 25px;
}

.card:hover{
  background-color: orange;
}
.about:hover{
  background-color: orange;
}
.career:hover{
  background-color: orange;
}
.career1:hover{
  background-color: orange;
}
.overview{
    position: absolute;
    top:530px;
    text-align:center;
    width:300px;
}
.about{
    position: absolute;
    left:350px;
    top:20px;
    width:600px;
    background-color:blanchedalmond;
    padding: 10px 10px 10px 10px;
    border-radius:15px;
}
.career{
    position: absolute;
    left:350px;
    top:200px;
    width:600px;
    background-color:blanchedalmond;
    padding: 10px 10px 10px 10px;
    border-radius:15px;
}
.stats{
    position: absolute;
    left:1000px;
    top:80px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 150px;
    border: 1px solid black;
    height: 650px;
  }
  
td, th {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even){
    background-color:rosybrown;
  }

  .career1{
    position: absolute;
    left:350px;
    top:533px;
    width:600px;
    background-color:blanchedalmond;
    padding: 10px 10px 10px 10px;
    border-radius:15px;
}

.inputtext{
  position: absolute;
    left:1000px;
    top:800px;
    width: 100px;
}
